.navbar {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 1.6rem;
  color: #ffffff !important;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #00d1b2 !important;
}

.nav-link {
  font-weight: 500;
  padding: 10px 15px;
  transition: all 0.3s ease;
  border-radius: 8px;
  color: #ffffff;
}

.nav-link:hover {
  background-color: rgba(224, 221, 221, 0.139);
  color: #00d1b2 !important;
  text-decoration: none;
}

.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #00d1b2 !important;
}
.navbar {
  margin-bottom: 30px; /* Adds space below the navbar */
  padding: 12px 24px;
}
.navbar {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* dark elegant gradient */
}

.navbar {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* dark elegant gradient */
}
.custom-navbar {
  background-color: #1e3a8a; /* or use gradient */
  margin-bottom: 30px;
  padding: 12px 24px;
  box-shadow: 0 4px 12px rgba(243, 240, 240, 0.2);
}
